<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trasen.permission.dao.SubordinateMapper">
    <select id="getSubOper" parameterType="Map" resultType="String">
        select o.op_code from tb_operation o
        join tb_role_operation ro on o.pkid=ro.operation_id
        join tb_user_role ur on ur.role_id=ro.role_id
        where ur.user_id=#{userId} and o.app_id=#{appId} and (o.op_code=#{sub_tag} or o.op_code=#{sub_dept})
    </select>

    <select id="getPersonToUserId" parameterType="String" resultType="com.trasen.permission.model.TbPersonnel">
        select p.* from tb_personnel p join t_user u on p.per_id=u.per_id where u.pkid=#{userId}
    </select>

    <select id="queryTagToPerson" parameterType="String" resultType="String">
        select tag_id from tb_tag_personnel where work_num=#{workNum}
    </select>

    <select id="queryPersonAll" resultType="com.trasen.permission.model.TbPersonnel">
        select p.*,t.tag_id from tb_personnel p left join tb_tag_personnel t on p.work_num=t.work_num where p.is_vaild=1
    </select>
</mapper>