<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trasen.permission.dao.TbOperationMapper">
    <select id="getOperToUserId" parameterType="Map" resultType="com.trasen.permission.model.MenuVo">
        select o.* from tb_operation o
        join tb_role_operation ro on o.pkid=ro.operation_id
        join tb_user_role ur on ur.role_id=ro.role_id
        where ur.user_id=#{userId} and o.app_id=#{appId} and o.op_code is null and o.type=1
    </select>

    <select id="getOpCodeList" parameterType="Map" resultType="String">
        select o.op_code from tb_operation o
        join tb_role_operation ro on o.pkid=ro.operation_id
        join tb_user_role ur on ur.role_id=ro.role_id
        where ur.user_id=#{userId} and o.app_id=#{appId} and o.parent_id = #{parentId} and o.op_code is not null
    </select>

    <select id="getParentOper" parameterType="String" resultType="com.trasen.permission.model.OperationVo">
        select * from tb_operation where url=#{url} and op_code is null limit 1
    </select>






</mapper>